body {
    margin: 0;
    padding: 20px;
    background: #0f0f0f;
    font-family: "Fredoka One", Arial, sans-serif;
    color: #fff;
}


/* Row Titles */
.section-title {
    font-size: 22px;
    font-weight: 300;
    margin: 25px 5px 10px 5px;
}



/* Horizontal scroll row */
.row {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    padding-bottom: 10px;
    scrollbar-width: none;
}

.row::-webkit-scrollbar {
    display: none;
}

/* Game Card Style */
.card {
    min-width: 165px;
    height: 105px;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    background: #222;
    cursor: pointer;
    flex-shrink: 0;
    transition: transform .25s ease, box-shadow .25s ease;
}

.card:hover {
    transform: scale(1.06);
    border-radius: 16px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Title overlay (bottom fade like screenshot) */
.card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: 600;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}


